.flexFieldsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flexField {
  flex: 1;
  margin-right: 2px;
  min-width: 200px;
  width: 25%;
}

@media (max-width: 500px) {
  .flexFieldsContainer>.flexField {
    flex: 0 0 48%;
    margin-right: 8px;
  }
}

@media (max-width: 100px) {
  .flexFieldsContainer>.flexField {
    flex: 1 1 100%;
    margin-right: 0;
  }
}

.autocompleteField {
  min-width: 200px;
}

.flexDescriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.addStatusUpdateContainer {
  flex: 1 0 40%;


}

.statusUpdatesContainer {
  flex: 1 0 60%;



}